* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #111;
  color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 0 24px 10px;
  text-align: center;
}

/* ---------- HERO ---------- */

.hero {
    position: relative;
    height: 81vh;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0.75;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;

    background:
        linear-gradient(
            to bottom,
            #111 0%,
            transparent 12%,
            transparent 75%,
            #111 100%
        );

    pointer-events: none;
}

.hero-text {
    position: absolute;
    z-index: 2;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    color: white;
}

.hero-text h1 {
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    font-weight: 400;

    letter-spacing: 8px;
}

.hero-text p {
    margin-top: 14px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 400;

    letter-spacing: 5px;

    color: #ccc;
}

footer {
  padding: 48px 24px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  font-weight: 400;
  letter-spacing: 2px;
}

footer p:first-child {
    font-size: 10px;
    margin-bottom: 20px;
}

/* ---------- NAVIGATION ---------- */

.navbar {
    max-width: 1400px;
    height: 65px;
    margin: 0 auto;
    padding: 0 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #eee;
    text-decoration: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;

    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    position: relative;
    
    color: #999;
    text-decoration: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;


    letter-spacing: 2px;
    text-transform: uppercase;

    padding-bottom: 6px;

    transition: color 0.25s ease;
}

.nav-links a::after {

    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    width: 0;
    height: 1px;

    background: #fff;

    transition: width 0.45s ease;
}

.nav-links a:hover {
    color: #fff;
}

.nav-links a:hover::after {
    width: 100%;
}

/* ---------- GALLERY ---------- */

.gallery {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 40px 60px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
}

.gallery img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    display: block;

    cursor: pointer;

    transition:
        transform 0.4s ease,
        opacity 0.4s ease;
}

.gallery img:hover {
    transform: scale(1.015);
    opacity: 0.92;
}


/* ---------- TABLET ---------- */

@media (max-width: 900px) {

    .gallery {
        grid-template-columns: repeat(2, 1fr);
        gap: 18px;
        padding: 20px 24px 50px;
    }

}


/* ---------- MOBILE ---------- */

@media (max-width: 600px) {

    .gallery {
        grid-template-columns: 1fr;
        gap: 16px;
        padding: 15px 16px 40px;
    }

}

.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);

    justify-content: center;
    align-items: center;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;

    cursor: grab;
    user-select: none;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}




/* ---------- CONTACT PAGE ---------- */

.contact-page {
    min-height: calc(100vh - 65px);
    max-width: 1500px;
    margin: 0 auto;
    padding: 40px 5% 80px;

    display: grid;
    grid-template-columns: 1.55fr 0.85fr;
    align-items: center;
    gap: 100px;

    transform: translateX(20px);
}


/* ---------- CONTACT PHOTO ---------- */

.contact-photo {
    position: relative;
    width: 107%;
}

.contact-photo img {
    width: 100%;
    height: auto;
    display: block;

    opacity: 0.88;
}

.contact-photo::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;

    background:
        linear-gradient(
            to right,
            transparent 65%,
            #111 100%
        ),
        linear-gradient(
            to bottom,
            transparent 75%,
            #111 100%
        );
}


/* ---------- CONTACT CONTENT ---------- */

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.contact-heading {
    margin: 0 0 32px;

    color: #777;

    font-family: "Arial", Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 400;

    letter-spacing: 4px;
}


/* ---------- CONTACT LINKS ---------- */

.contact-links {

    font-family: "Arial", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;

    display: flex;
    flex-direction: column;
    gap: 26px;
}

.contact-links a {
    display: flex;
    align-items: center;
    gap: 16px;

    color: #aaa;
    text-decoration: none;

    font-family: "Arial", Helvetica, sans-serif;
    font-size: 18px;

    transition:
        color 0.25s ease,
        transform 0.25s ease;
}

.contact-links i {
    width: 24px;

    font-size: 21px;
    text-align: center;

    color: #777;

    transition: color 0.25s ease;
}

.contact-links a:hover {
    color: #fff;
    transform: translateX(5px);
}

.contact-links a:hover i {
    color: #fff;
}